#square1_1{
    width: 40vmin;
    height: 40vmin;
    display: inline-block;
    border: 1px solid;
    margin-left: 0vmin;

}
#square1_2{
    width: 40vmin;
    height: 40vmin;
    display: inline-block;
    border: 1px solid;
    margin-left: 0vmin;

}
#square1_3{
    width: 40vmin;
    height: 40vmin;
    display: inline-block;
    border: 1px solid;
    margin-left: 0vmin;

}

#square1_4{
    width: 40vmin;
    height: 40vmin;
    border: 1px solid;
    margin-left: 40vmin;
    display: inline-block;
}
#square1_5{
    width: 40vmin;
    height: 40vmin;
    display: inline-block;
    border: 1px solid;
    margin-left: 0vmin;

}
#square1_6{
    width: 40vmin;
    height: 40vmin;
    display: inline-block;
    border: 1px solid;
    margin-left: 0vmin;
}

#square1_7{
    width: 40vmin;
    height: 40vmin;
    display: inline-block;
    border: 1px solid;
    margin-left: 40vmin;

}
#square1_9{
    width: 40vmin;
    height: 40vmin;
    display: inline-block;
    border: 1px solid;
    margin-left: 0vmin;
}
#square1_8{
    width: 40vmin;
    height: 40vmin;
    display: inline-block;
    border: 1px solid;
    margin-left: 0vmin;
}
#square {
    width: 120px;
    height: 120px;
    background: #f447ff;
}

p {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
  }
  
  @keyframes slidein {
    from {
      margin-left: 0%;
      width: 100%;
      opacity: 0;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
      opacity: 1;
    }
  }