<!DOCTYPE html>
<html>
<head>
    <link href="../static/style.css" rel="stylesheet">
    <meta charset="utf-8">
</head>
<body>
    <div id="Text_holder">
        <p id =begining_text draggable="false">Mila Oz<br></br> Portfolio</p>
    </div>
    <div id = 'ending_text'>
        <p class ="text">Want to see more?</p>
        <a class ="text" href="https://portfolio.hse.ru/Student/15833"  draggable="false">Clik here!</a>
    </div>
    <div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
        <img class="image" src="../images/1.png" draggable="false"/>
        <img class="image" src="../images/2.png" draggable="false"/>
        <img class="image" src="../images/3.png" draggable="false"/>
        <img class="image" src="../images/4.png" draggable="false"/>
        <img class="image" src="../images/5.png" draggable="false"/>
        <img class="image" src="../images/6.png" draggable="false"/>
        <img class="image" src="../images/7.png" draggable="false"/>
    </div>
</body>
<script src="../scripts/script.js"></script>
</html>