<!DOCTYPE html>
<link href="/static/style.css" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <h1>Добро пожаловать на сайт!</h1>
</head>

<body>
    <div id=playfield>
        <div id="square1_1"></div>
        <div id="square1_2"></div>
        <div id="square1_3"></div>
        <div id="square1_4"></div>
        <div id="square1_5"></div>
        <div id="square1_6"></div>
        <div id="square1_7"></div>
        <div id="square1_8"></div>
        <div id="square1_9"></div>
    </div>
    <p>The Caterpillar and Alice looked at each other for some time in silence:
        at last the Caterpillar took the hookah out of its mouth, and addressed
        her in a languid, sleepy voice.</p>
</body>